name: Test
permissions:
  contents: read

on:
  push:
    branches: [ main, v3.1.x ]
  pull_request:
    branches: [ main, v3.1.x ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '24.x'
    - name: Install dependencies
      run: npm ci
    - name: Run lint, unit- and E2E tests
      run: npm run test
